<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addOrder</servlet-name>
        <servlet-class>api.addOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doesUserExist</servlet-name>
        <servlet-class>api.doesUserExist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllOrders</servlet-name>
        <servlet-class>api.getAllOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getColumnNames</servlet-name>
        <servlet-class>api.getColumnNamesCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getColumnNamesMarks</servlet-name>
        <servlet-class>api.getColumnNamesMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getColumnNamesOrders</servlet-name>
        <servlet-class>api.getColumnNamesOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCarWOlogo</servlet-name>
        <servlet-class>api.addCarWOlogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCarWOimage</servlet-name>
        <servlet-class>api.updateCarWOimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMarkWithoutCarsWOlogo</servlet-name>
        <servlet-class>api.updateMarkWithoutCarsWOlogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateOrder</servlet-name>
        <servlet-class>api.updateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrderById</servlet-name>
        <servlet-class>api.deleteOrderById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addOrder</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doesUserExist</servlet-name>
        <url-pattern>/doesUserExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllOrders</servlet-name>
        <url-pattern>/getAllOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getColumnNames</servlet-name>
        <url-pattern>/getColumnNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getColumnNamesMarks</servlet-name>
        <url-pattern>/getColumnNamesMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getColumnNamesOrders</servlet-name>
        <url-pattern>/getColumnNamesOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCarWOlogo</servlet-name>
        <url-pattern>/addCarWOlogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCarWOimage</servlet-name>
        <url-pattern>/updateCarWOimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMarkWithoutCarsWOlogo</servlet-name>
        <url-pattern>/updateMarkWithoutCarsWOlogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateOrder</servlet-name>
        <url-pattern>/updateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrderById</servlet-name>
        <url-pattern>/deleteOrderById</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
